<% person = local_assigns[:person] || @person || person_join.person %>
<% property = property_join.property %>

<%= icon_container property, class: 'list-group-item' do %>
  <% if property.flag? %>
    <%= link_to_if can?(:read, property), property, property %>
  <% else %>
    <div class="row">
      <div class="col-sm-6">
        <%= link_to_if can?(:read, property), property, property %>
      </div>
      <div class="col-sm-6 text-light size-xs-small size-md-normal">
        <%= property_join.value %>
      </div>
    </div>
  <% end %>
<% end %>
