<div class="title-container py-1 mb-1 text-xs-center title-container-0">

  <% if local_assigns[:icon] %>
    <div class="mb-sm hidden-xs-down">
      <span class="avatar avatar-xl avatar-icon">
        <%= icon_for icon %>
      </span>
    </div>
  <% end %>

  <h2 class="mb-0"><%= title %></h2>
</div>
