<%= render 'menu', title: "New group", active: :new do %>
  <p class="alert alert-info">
    Children's groups provide a means
    for parents to check-in and check-out their children quickly on a laptop or iPad, so that it's
    easy to know where all your children are.
  </p>

  <%= render 'form' %>
<% end %>
