<%= render 'people/people/menu', active: :family do %>
  <h2>Join a Family</h2>

  <p class="alert alert-info">
    Families are an essential connection of the database to people. Defining families allows you to
    group people in the same family together at a specific home address.
  </p>

  <%= render 'people/person_families/form' %>
<% end %>
