<h2 class="text-xs-center mb-1">Accounts</h2>

<%= list_group @users do |user| %>

  <div class="row">
    <div class="col-sm-6">
      <%= link_to user.person, class: 'text-ellipsis' do %>
        <%= user.name %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <div class="text-ellipsis text-light">
        <%= user.email %>
      </div>
    </div>
  </div>

<% end %>
