<%= render 'people/people/menu', active: :team do %>
  <h2>Join Teams</h2>

  <p class="alert alert-info">
    A team represents any group of people in your church, whether they are a team of volunteers,
    a home group, or a role on the website.
  </p>

  <%= render 'people/person_teams/form' %>
<% end %>
