<div class="text-xs-center">
  <button type="submit" class="btn btn-primary btn-lg">
    <% if local_assigns[:icon]%><%= icon_for icon, class: 'mr-xs' %><% end %>
    <%= local_assigns[:title] || 'Save changes' %>
  </button>
</div>
