<% link = false if link.nil? %>

<div class="list-group">
  <% collection.each do |model| %>
    <% if link %>
      <%= link_to (link === true ? model : link), class: 'list-group-item clearfix size-xs-small size-sm-normal list-group-item-action' do %>
        <%= yield model %>
      <% end %>
    <% else %>
      <%= content_tag :div, class: 'list-group-item clearfix size-xs-small size-sm-normal' do %>
        <%= yield model %>
      <% end %>
    <% end %>
  <% end %>
</div>
