<div class="list-group-item list-group-item-form">
  <%= form_for('Search', url: url_for(resource), method: :get) do |f| %>
    <div class="input-group">
      <label class="input-group-addon" for="q">
        <%= icon_for :search %>
      </label>
      <%= text_field_tag :q, params[:q], class: 'form-control', autofocus: true %>
    </div>

    <button type="submit" class="sr-only" onclick="$(this).closest('form').submit();">
      <span class="sr-only">Search</span>
      <%= icon_for :search %>
    </button>
  <% end %>
</div>
