<% if can?(:create, TeamMembership) %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Teams',
               button: ({ href: @person, title: 'Cancel', btn_class: 'btn-outline-primary' } unless @person.new_record?) %>

    <div class="list-group-item">
      <%= f.collection_select :team_ids, Team.all, :id, :name, { }, multiple: true, class: 'form-control', data: { selectpicker: true, placeholder: 'Choose Teams' } %>
    </div>
  </div>
<% end %>
