<% if can?(:create, FamilyMembership) %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Family',
               button: ({ btn_class: 'btn-outline-primary', title: 'Cancel', href: @person } unless @person.new_record?) %>

    <div class="list-group-item" id="family-picker">
      <%= f.select :family_ids, [['< Start new family >', 'New']] + Family.all.map{|family| [ family.name, family.id ] }, { include_blank: true }, class: 'form-control', data: { selectpicker: true, placeholder: 'Choose a Family', :'allow-clear' => true } %>
      <%= f.text_field :family_name, class: 'form-control mt-sm', placeholder: 'Family name' %>
    </div>
  </div>
<% end %>
