<% if can?(:create, TeamMembership) %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Teams' %>

    <div class="list-group-item">
      <%= f.select :team_ids, [], { }, multiple: true, class: 'form-control',
                   data: { selectpicker: true, placeholder: 'Choose Teams', ajax: '/teams.json', template: :team } %>
    </div>
  </div>
<% end %>
