<% if can?(:create, FamilyMembership) %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Family' %>

    <div class="list-group-item" id="family-picker">
      <div class="my-sm">
        <%= f.select :family_ids, [], { include_blank: true }, class: 'form-control',
                     data: { selectpicker: true, placeholder: 'Choose a Family', :'allow-clear' => true, ajax: families_path, new: "Start new family", template: :family } %>
        <%= f.text_field :family_name, class: 'form-control mt-1', placeholder: 'Family name' %>
      </div>
    </div>
  </div>
<% end %>
