<div class="text-xs-center mb-sm">
  <%= avatar_tag @person, class: 'avatar-xl' %>
</div>

<%= render 'shared/title',
           title: (local_assigns[:title] || @person.to_s),
           background: local_assigns[:background],
           short: local_assigns[:short],
           align: :center %>
