<%= render 'people/people/menu', active: :trash, title: 'Remove person' do %>
  <div class="alert alert-info mb-2">
    <p class="text-xs-center mt-2">
      If you do this, <strong><%= @person %></strong> will be removed from the database.
    </p>
    <p class="text-xs-center mb-2">
      Are you absolutely sure?
    </p>

    <div class="container-xs">
      <%= button_to 'Yes, do it.', @person, method: :delete, class: 'btn btn-danger btn-block btn-lg mb-sm' %>
    </div>
  </div>
<% end %>
