<%= render 'menu', active: :destroy, title: 'Remove' do %>
  <div class="alert alert-info py-2 text-xs-center">
    <p>
      <% if @person == current_person %>
        If you do this, <strong>your account will be removed</strong> and you will lose
        all permissions and access to the database.
      <% else %>
        If you do this, <strong><%= @person %></strong> will be removed from the database.
      <% end %>
    </p>

    <p class="size-xs-large">
      Are you absolutely sure?
    </p>

    <div class="container-xs">
      <%= button_to 'Yes, do it.', @person, method: :delete, class: 'btn btn-danger btn-block btn-lg' %>
    </div>
  </div>
<% end %>
