<%= render 'shared/title', title: 'New member', short: :true %>

<div class="container-sm">
  <p class="size-xs-small mt-2">
    Enter the member details below. Most fields are optional, but the more you enter, the more useful the database will be.
  </p>

  <%= render 'people/people/form' %>
</div>
