<%= render 'shared/title', title: 'New member' %>

<div class="container-sm">
  <div class="text-light size-xs-small mb-1">
    Enter the member details below. Most fields are optional, but the more you enter, the more useful the database will be.
  </div>

  <%= render 'people/people/form' %>
</div>
