<%= render 'shared/title', title: 'New Process', align: :center %>

<div class="container-sm">
  <p class="size-xs-small text-light">
    Processes are your church's way of connecting to people. You can start a follow-up process for first-time visitors,
    or for members wanting to join a particular team.
  </p>

  <%= render 'processes/church_processes/form' %>
</div>
