<%= render 'processes/church_processes/title', title: 'New Process', short: true %>

<div class="container-sm">
  <p class="size-xs-small mt-2">
    Processes are your church's way of connecting to people. You can start a follow-up process for first-time visitors,
    or for members wanting to join a particular team.
  </p>

  <%= render 'processes/church_processes/form' %>
</div>
