<% content_for :menu, :people %>
<%= render 'people/people/title', title: 'Confirmation sent', icon: 'user-circle-o' %>

<div class="container-sm">
  <p class="alert alert-info">
    We have sent another email to <strong><%= current_user.email %></strong>
    with instructions. Please check your inbox for the email.
  </p>
</div>
