<div class="container-xs">
  <%= render 'people/people/title', title: 'Confirmation sent' %>

  <p class="alert alert-info">
    We have sent another email to <strong><%= current_user.email %></strong>
    with instructions. Please check your inbox for the email.
  </p>
</div>
