<%= render 'people/people/menu', active: :process do %>
  <h2>Start a Process</h2>

  <p class="alert alert-info">
    Processes are your church's way of connecting to people. You can start a follow-up process for first-time visitors,
    or for members wanting to join a particular team.
  </p>

  <%= render 'processes/person_processes/form' %>
<% end %>
