<div class="text-xs-center mb-sm">
  <%= avatar_tag @person_process.person, class: 'avatar-xl' %>
</div>

<%= render 'shared/title',
           title: @person_process.person,
           link: @person_process.person,
           align: :center %>

<div class="container-sm">
  <%= render 'processes/person_processes/form' %>
</div>
