<div class="list-group mb-2" id="family-<%= family.id %>">
  <div class="list-group-item list-group-item-secondary">
    <%= link_to family, class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
      View
    <% end %>

    <%= family %>
  </div>

  <%= render 'people/families/memberships', family: family %>
</div>
