<div class="list-group mb-2" id="family-<%= family.id %>">
  <%= render 'shared/list_group_header', icon: :family, title: family, button: { title: 'View', href: family } %>
  <%= render 'people/families/memberships', family: family %>
</div>
