<% content_for :menu, :families %>
<%= render 'shared/side_and_details',
           active: local_assigns[:active],
           items: local_assigns[:items] || [{ title: 'Families', icon: :search, href: :families },
                                            '-',
                                            ({ title: @family,             icon: @family,   href: @family }),
                                            ({ title: 'Edit details',      icon: :edit,     href: edit_family_path(@family)}                  if can?(:update, @family)),
                                            ({ title: 'Add member',        icon: :person,   href: new_family_family_membership_path(@family)} if can?(:create, FamilyMembership)),
                                            ({ title: 'Remove family',     icon: :trash,    href: confirm_destroy_family_path(@family)}       if can?(:destroy, @family))
] do %>
  <% if local_assigns[:title] %><h2><%= title %></h2><% end %>
  <%= yield %>
<% end %>
