<div class="text-xs-center mb-sm family-avatars">
  <% @family.people[0...5].each do |person| %>
    <%= avatar_tag person, size: 192 %>
  <% end %>
</div>

<%= render 'shared/title', title: @family %>
