<%= render 'menu', title: 'New family', active: :new do %>
  <p class="alert alert-info">
    Families are an essential connection of the database to people. Defining families allows you to
    group people in the same family together at a specific home address.
  </p>

  <%= render 'form' %>
<% end %>
