<% if can? :create, Event %>
  <%= link_to new_event_path, class: 'btn btn-primary float-xs-right' do %>
    <%= fa_icon 'plus-circle' %> New
  <% end %>
<% end %>

<%= render 'shared/title', title: 'Upcoming Events' %>

<div class="list-group">
  <%= render partial: 'events/events/event_item', collection: @events.sort_by{|t| t.schedule.next_datetime } %>
</div>
