<%= render 'events/events/title', title: 'New Event', short: :true, color: :event %>

<div class="container-sm">
  <p class="size-xs-small mt-2">
    Events are scheduled times for your teams or church to meet up. They can be either
    on a single date or recurring.
  </p>

  <%= render 'events/events/form' %>
</div>
