<%= render 'menu', title: 'New event', active: :new do %>

  <p>
    Events are scheduled times for your teams or church to meet up. They can be either
    on a single date or recurring.
  </p>

  <%= render 'events/events/form' %>
<% end %>
