<%= render 'menu', active: :destroy, title: 'Remove family' do %>
  <div class="alert alert-info py-2 text-xs-center">
    <p>
      If you do this, <strong><%= @family %></strong> will be removed from the database.
      Any family members will remain in the database but will not be connected to a family.
    </p>

    <p class="size-xs-large">
      Are you sure?
    </p>

    <div class="container-xs">
      <%= button_to 'Yes, do it.', @family, method: :delete, class: 'btn btn-danger btn-block btn-lg' %>
    </div>
  </div>
<% end %>
