<% if current_church.cover.present? %>
  <div class="title-container mb-1 pt-3 text-xs-center title-background-image">
    <div class="mb-sm">
      <span class="avatar avatar-xl avatar-icon">
        <%= fa_icon :home %>
      </span>
    </div>

    <h1 class="mb-0"><%= current_church %></h1>
    <div class="title-overlay" style="background-image: url('<%= current_church.cover.url %>');"></div>
  </div>
<% else %>
  <%= render 'shared/title', title: current_church.name, icon: :home %>
<% end %>
