<div
    class="list-group-item clearfix size-xs-small size-sm-normal list-group-item-team"
    style="border-left-color: <%= '#' + team_item.color %>;">
  <%= fa_icon "#{team_item.icon} 1x", class: 'mr-xs'%>
  <%= link_to team_item, team_item %>
</div>
