<div class="text-xs-center mb-sm">
  <span class="avatar avatar-xl avatar-icon" style="background-color: <%= '#' + @team.color %>;">
    <%= fa_icon @team.icon %>
  </span>
</div>

<%= render 'shared/title', title: @team, align: :center %>
