<%= render 'shared/title', title: 'New Team', align: :center %>

<div class="container-sm">
  <p class="size-xs-small">
    A team represents any group of people in your church, whether they are a team of volunteers,
    a home group, or a role on the website.
  </p>

  <%= render 'people/teams/form' %>
</div>
