// TYPOGRAPHY
$headings-font-weight:  200 !default;
$font-size-h4:          1rem !default;


// COLOURS
$brand-info-light: #83d8f8;
$brand-primary-light: #8edd9a !default;
$brand-primary: #42a85f !default;
$brand-danger-light: #ea695c;
$brand-success-light: #65d268;
$brand-success: #ebd359;
$darken: rgba(0,0,0,0.1);


// SPACING HELPERS
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  'sm': (
    x: ($spacer-x * 0.5),
    y: ($spacer-y * 0.5)
  ),
  'xs': (
    x: ($spacer-x * 0.25),
    y: ($spacer-y * 0.25)
  )
) !default;

$state-danger-text: #b42426 !default;
$state-danger-bg: #ffecec !default;


// LIST GROUPS
// $list-group-border-color:       $brand-primary-light !default;
$list-group-active-bg:          $brand-primary-light !default;
$list-group-active-border:      $brand-primary-light !default;


// reponsive height thresholds
$side-menu-max-height-xs: 479px;
$side-menu-max-height-sm: 669px;


// NAVBAR
$navbar-padding-y:            $spacer-y !default;
$navbar-padding-x:            0 !default;
$navbar-light-active-color:   $brand-primary !default;
$navbar-dark-color:           rgba(255,255,255,.7) !default;
$navbar-dark-hover-color:     rgba(255,255,255,.9) !default;


// BUTTONS
$btn-border-radius:           1000px !default;
$btn-border-radius-lg:        1000px !default;
$btn-padding-x:               1rem !default;
$btn-padding-x-lg:            1.25rem !default;
$btn-padding-y-lg:            1rem !default;


// FORMS
$input-border-radius:         19px !default;
$input-padding-x:             1rem !default;


// ALERTS
$alert-border-width:          0 !default;


@import 'bootstrap/variables';
