@import 'variables';
@import 'bootstrap/mixins/breakpoints';
@import 'bootstrap/mixins/hover';

.btn-align-middle {
  margin-top: -7px;
  margin-bottom: -7px;
  vertical-align: top;
}

.btn-sm {
  line-height: 18px;

  &.btn-align-middle {
    margin-top: -2px;
    margin-bottom: -2px;
  }
}

.search-options {
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
  @include media-breakpoint-down(xs) {
    margin-top: .25rem;
    text-align: center;
  }
}

.btn-lg {
  box-shadow: 0 .125rem .5rem rgba(0,0,0,0.125);
}

.btn-subtle {
  border-color: transparent;
  color: $gray-light;
}

.btn-link {
  &.active {
    color: $body-color;
    text-decoration: underline;
  }
}

.btn {
  @include hover-focus {
    .text-light {
      color: inherit;
      opacity: 0.8;
    }
  }
}
