@import 'variables';
@import 'bootstrap/mixins/breakpoints';

@mixin total-center {
  position: absolute;
  top: calc(50% + 2.5rem);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.container-xs {
  margin: auto;
  max-width: 400px;
  padding: 0 15px;
}

.container-login {
  @extend .container-xs;
  @media (min-height: 600px) {
    @include total-center;
  }
}

.container-signup {
  @extend .container-xs;
  @media (min-height: 820px) {
    @include total-center;
  }
}

.container-sm {
  padding: 0 15px;
  margin: auto;
  max-width: 540px;
}

.container-md {
  padding: 0 15px;
  margin: auto;
  max-width: 600px;
}
