@import 'bootstrap/variables';
@import 'bootstrap/mixins/breakpoints';

@mixin total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0 16px;
  width: 100%;
}

.container-xs {
  margin: auto;
  max-width: 380px;
}

.container-login {
  @extend .container-xs;
  @media (min-height: 440px) {
    max-width: 380px + 32px;
    @include total-center;
  }
}

.container-sm {
  margin: auto;
  max-width: 480px;
}
