.bootstrap-datetimepicker-widget table td {
  text-align: inherit;

  span {
    text-align: center;
  }
}

.bootstrap-datetimepicker-widget .timepicker table td {
  text-align: center;
}

.bootstrap-datetimepicker-widget table th {
  height: 30px;
  width: 30px;
  text-align: center;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 30px;
  width: 30px;
  text-align: center;
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.25em !important;
  font-size: 0.875rem;
  padding: 8px 0;

  ~ :not(.decade) {
    vertical-align: top;
    pointer-events: none;
  }
}
