@import 'variables';

.dropdown-item-icon {
  padding: 0.5rem 0.25rem !important;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  clear: none;
  float: left;
}

.dropdown-menu-icons {
  width: 258px;
  padding: 4px;
  white-space: normal;
}

.dropdown-menu {
  box-shadow: 0 1px .25rem $darken;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  margin: 0.25rem 0;
  line-height: 1.5rem;
}

.dropdown-menu {
  border-radius: 22px;
  padding: 0.5rem;

  .fa-container {
    margin-left: -.75rem;
    padding-left: 2.5rem;

    // do not over-extend on mobile
    max-width: calc(100vw - 7rem);
    overflow: hidden;
    text-overflow: ellipsis;

    .fa {
      line-height: 1.5rem;
      font-size: 1.25rem;
      margin-left: -2.25rem;
    }
  }

  .nav-material-tabs & {
    border-radius: 0 0 $border-radius $border-radius;
    margin-top: 0;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;

    .dropdown-item {
      margin: 0;
      border-radius: 0;
      font-size: 0.875rem;
    }
  }
}

.dropdown-header {
  margin: -0.5rem 0 0.5rem;
  padding: 1rem 1rem;
  color: $brand-info-dark;
  font-weight: 400;
  white-space: nowrap;
  border-bottom: solid 1px $brand-info-light;
}
