@import 'variables';

.dropdown-item-icon {
  padding: 0.5rem 0.25rem;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  clear: none;
  float: left;
}

.dropdown-menu-icons {
  width: 250px;
  padding: 4px;
  white-space: normal;
}

.dropdown-menu {
  box-shadow: 0 1px .25rem $darken;
}
