.fa-1x {
  width: 1em;
  text-align: center;
}

.fa-2x-container {
  padding-left: 3em;

  > .fa {
    float: left;
    margin: 0 -1em 0 -1.5em;
    width: 1em;
    height: 1em;
    text-align: center;
  }
}

.fa-pictograph {
  vertical-align: top;
  height: 1em;
  line-height: 1em;
  width: inherit;
}

.fa-container {
  padding-left: 1.5rem;
  display: block;

  > .fa {
    float: left;
    margin: 0 -1rem 0 -2rem;
    width: 2rem;
    height: 1rem;
    text-align: center;
    line-height: 1.5em;
  }

  &.list-group-item {
    padding-left: 2.75rem;
  }
}

.bars {
  &, &::before, &::after {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 0.25em;
    background-color: currentColor;
    vertical-align: top;
    line-height: .5em;
    transition: margin .3s, transform .3s, background-color .3s;
    opacity: 1;
    margin-top: .5em;
    transform: rotate(0deg);
  }

  &::before {
    margin-top: -.5em;
    transition: margin .4s, transform .1s;
  }

  &::after {
    margin-top: 0;
    transition: margin .4s, transform .1s;
  }

  .active > & {
    transform: rotate(0deg);
    background-color: rgba(0,0,0,0);

    &::before {
      margin-top: 0;
      transform: rotate(-45deg);
      transition: margin .1s, transform .4s;
    }

    &::after {
      margin-top: -.5em;
      transform: rotate(45deg);
      transition: margin .1s, transform .4s;
    }
  }
}
