@import 'variables';
@import 'bootstrap/mixins/hover';
@import 'bootstrap/mixins/breakpoints';

.list-group-item {
  line-height: #{$line-height-base}rem;
  background-color: rgba(255,255,255,0.85);
}


.list-group-item.active {
  .btn-outline-primary {
    color: white;
    border-color: rgba(255,255,255,0.5);

    &:hover {
      color: $brand-primary;
      background-color: white;
    }
  }

  .btn-secondary {
    border-color: $input-border-color;
    background-clip: padding-box;
  }
}

.list-group-item-padded {
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }

  @include media-breakpoint-up(md) {
    padding: 3rem;
  }
}

.list-group-item-team {
  border-left: solid 4px #ccc;
}

.list-group-item.list-steps {
  > .list-step {
    display: block;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

#map {
  border-left: solid 1px $list-group-border-color;
  border-right: solid 1px $list-group-border-color;
}

.list-group-item-search {
  #q {
    @include media-breakpoint-up(sm) {
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
    }
  }
}
