@import 'bootstrap/variables';
@import 'bootstrap/mixins/hover';
@import 'bootstrap/mixins/breakpoints';

.list-group-item {
  line-height: #{$line-height-base}rem;
  background-color: rgba(255,255,255,0.85);
}


.list-group-item-secondary {
  @include plain-hover-focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    text-decoration: none; // Repeat here because it inherits global a:hover otherwise
  }

  background-color: $list-group-disabled-bg;

  &.list-group-item-action {
    @include hover-focus {
      background-color: darken($list-group-disabled-bg, 5%);
    }
  }

  .custom-control-indicator {
    border: solid 1px $link-color;
  }

  .custom-control {
    display: block;
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.list-group-item-padded {
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }

  @include media-breakpoint-up(md) {
    padding: 3rem;
  }
}

.list-group-item-team {
  border-left: solid 4px #ccc;
}

.list-group-item.list-steps {
  > .list-step {
    display: block;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}
