@import 'variables';
@import 'bootstrap/mixins/hover';
@import 'bootstrap/mixins/breakpoints';

.navbar {
  padding: 0;

  > [class^=bg-] {
    padding: $navbar-padding-y $navbar-padding-x;
    z-index: 1;
    position: relative;
  }
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin-right: 0;
  font-weight: $headings-font-weight;

  @include media-breakpoint-down(sm) {
    width: calc(100vw - 110px);
  }

  @include media-breakpoint-up(sm) {
    width: auto;
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.navbar-transition {
  // transition: top 0.3s;

  .nav-item-search, .nav-item-account {
    // transition: top .3s;

    // .nav-link { transition: padding .3s, border-top-left-radius .3s, border-top-right-radius .3s; }
    // .fa { transition: font-size .3s; }
  }
}

.navbar-light .navbar-nav {
  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      background-color: $navbar-light-active-color;
      color: white;
    }
  }
}

.navbar-dark .navbar-nav {
  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      background-color: $navbar-dark-active-color;
      color: $brand-primary;
    }
  }
}

.navbar .navbar-nav {
  .nav-item {
    position: relative;
    top: 0;
  }

  .nav-link {
    line-height: 1.25rem;
    text-align: center;
    border-radius: 22px;
    padding: 0.75rem 1rem;

    @include hover-focus {
      background-color: $darken;
    }

    .fa {
      font-size: 1.5rem;
      line-height: 1.25rem;
    }

    .avatar {
      margin-top: -6px;
      margin-bottom: -6px;
      width: 2rem;
      height: 2rem;
      transition: margin .3s, width .3s, height .3s;
    }

    .fa, .avatar {
      vertical-align: top;

      @include media-breakpoint-up(md) {
        + .nav-text { margin-left: 0.25rem; }
      }
    }

    + .nav-link {
      margin-left: .5rem;
    }
  }

  .dropdown.open > .nav-link {
    // flatten border-radius against dropdown menu
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .nav-text-large {
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 22px 0 22px 22px;
    border-color: white;
    min-width: calc(100% + 1.5rem);
  }
}

@include media-breakpoint-up(md) {
  .navbar-short {
    padding-bottom: 44px;
  }
}

.nav-link {
  font-weight: normal;
}
