html {
  min-height: 100%;
}

body {
  background-image: image-url('church-faded.png');
  background-size: 140px 160px;
  background-position: 90% bottom;
  background-repeat: no-repeat;
}

html {
  overflow-x: hidden;
}
