html {
  min-height: 100%;
}

body {
  background-color: #fafafa;
  background-image: image-url('church-vector.png');
  background-size: 140px 160px;
  background-position: 90% bottom;
  background-repeat: no-repeat;
}

html, body {
  overflow-x: hidden;
}
