.input-group .select2-container--bootstrap:not(:first-child) .select2-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.select2-container--bootstrap {
  .select2-selection__choice .fa-container {
    display: inline-block;
    margin-left: .125rem;
  }

  .select2-selection--multiple .select2-selection__choice {
    margin: 3px 0 0 4px;
    padding: 2px 6px;
  }

  .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0 -1px 0 -4px;
    padding: 0 6px;
  }

  .select2-results__option, .select2-selection--single .select2-selection__rendered {
    .fa-container {
      padding-left: 2rem;

      > .fa {
        margin-left: -2rem;
        width: 1.5rem;
      }
    }
  }
}
