@import 'variables';
@import 'bootstrap/mixins/breakpoints';

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: $side-menu-width;
  min-height: 100%;
  background-color: $side-menu-background;
  text-align: center;
  font-size: 0.875rem;
  border-right: solid 1px $side-menu-border-color;
  padding-bottom: 5.25rem; // approximation to account for bottom item

  @media (max-height: $side-menu-max-height-xs) {
    width: $side-menu-width-sm;
    font-size: 0.625rem;
  }

  @include media-breakpoint-down(sm) {
    width: $side-menu-width-sm;
    font-size: 0.625rem;
  }

  @include media-breakpoint-down(xs) {
    width: $side-menu-width-xs;
  }
}

.side-menu-item {
  display: block;
  color: $side-menu-color;
  font-weight: 300;
  padding: 1rem 0;
  margin: 0 0.5rem;
  border-bottom: solid 1px $side-menu-border-color;

  &:hover {
    text-decoration: none;
    color: $side-menu-hover-color;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 0.25rem;
  }

  @media (max-height: $side-menu-max-height-sm) {
    padding: 0.75rem 0;
  }

  @media (max-height: $side-menu-max-height-xs) {
    padding: 0.5rem 0;
  }
}

.with-side-menu {
  padding-left: $side-menu-width;

  @media (max-height: $side-menu-max-height-xs) {
    padding-left: $side-menu-width-sm;
  }

  @include media-breakpoint-down(sm) {
    padding-left: $side-menu-width-sm;
  }

  @include media-breakpoint-down(xs) {
    padding-left: $side-menu-width-xs;
  }
}

.side-menu-item-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  @media (max-height: $side-menu-max-height-sm) {
    display: none;
  }
}

.side-menu-item-bottom {
  border-bottom: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;

  .side-menu-item-text {
    display: block !important;

    @media (max-height: $side-menu-max-height-xs) {
      font-size: 0.5rem;
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.5rem;
      margin-top: 0;
    }
  }
}