@import 'variables';
@import 'bootstrap/mixins/clearfix';
@import 'bootstrap/mixins/breakpoints';
@import 'bootstrap/mixins/hover';

$width-md: (map-get($container-max-widths, md) - $grid-gutter-width-base);
$width-lg: (map-get($container-max-widths, lg) - $grid-gutter-width-base);
$width-xl: (map-get($container-max-widths, xl) - $grid-gutter-width-base);

.side-and-details {
  @include clearfix;
}

.side-and-details--details {
  padding-top: .375rem;

  @include media-breakpoint-up(md) {
    float: left;
    width: $width-md * .75;
    margin-left: $width-md * .25;
    margin-right: $width-md * -1;
  }

  @include media-breakpoint-up(lg) {
    width: $width-lg * .6;
    margin-left: $width-lg * .25;
    margin-right: $width-lg * -.85;
  }

  @include media-breakpoint-up(xl) {
    width: $width-xl * .6;
    margin-left: $width-xl * .2;
    margin-right: $width-xl * -.8;
  }
}

.side-and-details--side {
  font-size: 0.875rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    float: left;
    font-size: 0.75rem;
    text-align: right;
    padding-right: 2rem;

    width: $width-md * .30;
    margin-left: $width-md * -.05;
    margin-right: $width-md * -.25;

    .fa-container {
      padding-left: 0;
      padding-right: 1.5rem;
      > .fa {
        float: right;
        margin: 0 -2rem 0 -1rem;
      }
    }

    @media (min-height: 600px) {
      transition: margin-top 0.3s;
      position: fixed;
      margin-top: 0;

      .navbar-short + div & {
        margin-top: -56px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 0.875rem;
    width: $width-lg * .25;
    margin-left:  $width-lg * 0;
    margin-right: $width-lg * -.25;
  }

  @include media-breakpoint-up(xl) {
    padding-right: 3rem;
    width: $width-xl * .22;
    margin-left:  $width-xl * -.02;
    margin-right: $width-xl * -.20;
  }

  .nav {
    @include clearfix();

    .nav-divider {
      border-top: solid 1px $darken;
      margin-top: .25rem;
      margin-bottom: .25rem;
    }

    .nav-link {
      line-height: 1.25rem;
      position: relative;
      padding: .5rem;
      border-radius: 0;
      color: $brand-info;
      text-transform: uppercase;

      @include hover-focus {
        color: darken($brand-info, 10%);
      }

      .fa {
        line-height: 1.25rem;
      }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
      @include plain-hover-focus {
        color: darken($brand-info, 20%);
        background-color: transparent;
        font-weight: 600;
      }
    }
  }
}
