@import 'variables';
@import 'bootstrap/mixins/breakpoints';
@import 'bootstrap/mixins/hover';

.nav-material-tabs {
  white-space: nowrap;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: $gray-lighter;

  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-item {
    display: inline-block;
    vertical-align: bottom;
  }

  .nav-link {
    text-transform: uppercase;
    padding: .75rem 1rem;
    font-size: .75rem;
    line-height: 1.25rem;
    color: $navbar-dark-color;
    position: relative;

    .fa {
      font-size: .875rem;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgba($brand-success, 50%);
      left: 50%;
      bottom: 0;
      height: 3px;
      width: 0;
      display: block;
      transition: left 0.3s, width 0.3s;
    }

    @include hover-focus {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    &:active {
      background-color: $darken;
    }

    @include hover-focus-active {
      color: $navbar-dark-hover-color;
    }
  }

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active,
  .nav-link:active
  {
    color: $navbar-dark-active-color;

    &::after {
      left: 0;
      width: 100%;
    }
  }

  .bg-light {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus-active {
        color: $navbar-light-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active,
    .nav-link:active
    {
      color: $navbar-light-active-color;
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-link {
      font-size: 0.875rem;
    }
    .nav-item + .nav-item {
      margin-left: .75rem;
    }
  }

  @include media-breakpoint-only(sm) {
    .nav-link {
      padding-left: 2.75rem;
      padding-right: 2.75rem;
    }
  }

  @include media-breakpoint-down(sm) {
    position: absolute;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    border-top: solid 1px $brand-primary-dark;
    margin-bottom: 0;

    .nav-item {
      display: block;
    }

    .nav-link {
      display: block;

      &::after {
        display: none;
      }
    }

    &.open {
      transform: translateY(0);
    }

    &.fixed-top {
      display: none;
    }
  }
}

.nav-material-tabs-secondary {
  position: relative;
}
