@import 'variables';

.title-container {
  color: white;
  position: relative;
  z-index: -1;

  a {
    color: white;
  }
}

.title-overlay {
  position: absolute;
  left: -5000px;
  right: -5000px;
  bottom: -42px;
  height: 1000px;
  background-color: #54aeea;
  z-index: -1;

  .title-container-short & {
    bottom: -14px;
  }
}

.title-container::after {
  @extend .title-overlay;
  content: '';
  z-index: -2;
}

.title-container-short::after {
  bottom: -14px;
}

.title-container-event::after, .title-container-danger::after {
  background-color: $brand-danger-light;
}

.title-container-process::after, .title-container-success::after {
  background-color: $brand-success-light;
}
