@import 'variables';
@import 'bootstrap/mixins/hover';

.title-container {
  position: relative;

  h2, .avatar {
    position: relative;
    z-index: 0;
  }

  .btn-lg {
    vertical-align: top;
    margin-top: -.75rem;
    margin-bottom: -.75rem;
  }
}

.title-overlay {
  position: absolute;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.title-container::after {
  @extend .title-overlay;
  content: '';
  z-index: -3;
}

.title-container-event::after, .title-container-danger::after {
  background-color: $brand-danger-light;
}

.title-container-process::after, .title-container-success::after {
  background-color: $brand-success-light;
}

.title-background-image {
  color: white;
  padding-top: 8rem;

  .avatar {
    background-color: rgba(0,0,0,0.25);
  }

  a {
    @include plain-hover-focus {
      color: white;
    }
  }

  .title-overlay {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 120px;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    }
  }
}
