@import 'variables';
@import 'bootstrap/mixins/breakpoints';

.text-light {
  color: #909090;
}

.text-lighter {
  color: #ccc;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

h1 {
  @include media-breakpoint-down(xs) {
    font-size: 2rem;
  }
}

h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1.5em;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .size-#{$breakpoint}-tiny   { font-size: 0.75rem !important; line-height: 1.5; }
    .size-#{$breakpoint}-small  { font-size: 0.875rem !important; line-height: 1.5; }
    .size-#{$breakpoint}-normal { font-size: 1rem !important; line-height: 1.5; }
    .size-#{$breakpoint}-large  { font-size: 1.25rem !important; line-height: 1.5; }
  }
}

.text-required {
  font-weight: 600;
  color: $brand-danger;
}

a.dotted {
  text-decoration: none;
  border-bottom: dotted 1px $link-color;
}

.markdown-container p:last-child {
  margin-bottom: 0;
}
