<%= render 'menu', title: 'New property', active: :new do %>
  <p class="alert alert-info">
    Give your property a name, and a description to explain what it means for the property to
    be applied to an object on the database.
  </p>

  <%= render 'form' %>
<% end %>
