<div class="row">
  <div class="col-xs-12 <%= 'col-sm-7' if schedule.time.present? %> py-sm">
    <%= fa_icon 'calendar 1x', class: 'mr-xs' %>
    Every day
  </div>
  <% if schedule.time.present? %>
    <div class="col-sm-5 py-sm">
      <%= render 'events/schedules/time', schedule: schedule %>
    </div>
  <% end %>
</div>
