<%= icon_container person_process_item, class: 'list-group-item clearfix' do %>
  <%= link_to person_process_item.church_process, [@person, person_process_item], class: 'float-sm-left' %>

  <div class="float-sm-right">
    <%= render 'processes/person_processes/squares', person_process_item: person_process_item %>
  </div>
<% end %>
