<title>Church on Rails</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API_KEY']}" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<meta name="viewport" content="width=device-width, initial-scale=1" />
