<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="mb-2">
      <%= flash_messages container: 'container-sm' %>
      <%= yield %>
    </div>
  </body>
</html>
