<%= form_for([@team, @team_membership]) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Team' %>

    <div class="list-group-item">
      <div class="mb-1">
        <%= f.select :person_id, [], { include_blank: true }, class: 'form-control',
                     data: { selectpicker: true, placeholder: 'Choose a member', ajax: '/people.json' } %>
      </div>
    </div>
  </div>

  <%= render 'shared/form_submit', title: 'Add member', icon: Person %>
<% end %>
