<%= render 'people/teams/menu', active: :person, title: 'Add member' do %>
  <p class="alert alert-info">
    Adding people to your team allows you to group and manage your church groups.
    You can also use it to give team permissions to members of the site.
  </p>

  <%= render 'form' %>
<% end %>
